


<div>
  <!-- <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div> -->
<small *ngIf = 'inValidUser' >{{errorMessage}}</small>
  <div>
     User Id/Emp Id : <input type="text" name="usrId"  [(ngModel)]="usrId">
    <!-- Password  : <input type="password" name="password" [(ngModel)]="password"> -->

    <!-- User Name : {{username}} -->

    <button type="submit" (click) = handleActivate() class="btn btn-success">
        <span>Activate</span>
      </button>

    <!-- <button (click)=handleLogin() class="btn btn-success">Login</button>  [disabled]="userAccountForm.invalid || isSaving" -->
  </div>
</div>
